@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #efefef;
}

body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  top: 0;
  justify-content: space-between;
  padding: 2rem 4rem;
  position: absolute;
  width: 100%;
  align-items: center;
  z-index: 2;
}

#logo {
  font-size: 1.75rem;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#logo:hover {
  color: #d4d4d4 !important;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links .nav-link {
  font-size: 0.8rem;
  margin-left: 3rem;
  list-style: none;
}

.nav-links .nav-link a {
  text-decoration: none;
  display: inline-block;
}

.nav-link::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 0;
  height: 2px;
  background: #efefef;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.background {
  top: 0;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100vh;
  z-index: -1;
}

.background img {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  object-fit: cover;
  object-position: left;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text > p {
  margin: 1rem 0;
}

.small-text {
  font-size: 0.75rem;
}

.small-text i {
  margin: 0 0.5rem;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

.about {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.scroll {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.scroll i {
  font-size: 1.2rem;
}

.scroll p {
  font-size: 0.7rem;
  margin-top: 2vh;
}
